flowcentral-configuration/src/main/resources/xsd/flowcentral-application-4.0.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   	targetNamespace="http://flowcentraltech.com/schema-common"
   	xmlns="http://flowcentraltech.com/schema-common"
	attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:include schemaLocation="flowcentral-types.xsd"/>
  <!-- Application -->
  <xs:element name="application">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <!-- Reports -->
        <xs:element name="reports" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="report" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="configFile" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Help sheets -->
        <xs:element name="helpSheets" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="helpSheet" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="configFile" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Notification Templates -->
        <xs:element name="notifTemplates" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="notifTemplate" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="configFile" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Workflows -->
        <xs:element name="workflows" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workflow" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="configFile" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Workflow wizards -->
        <xs:element name="workflow-wizards" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workflow-wizard" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="configFile" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Applets -->
        <xs:element name="applets" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="applet" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:all>
                    <xs:element name="properties" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="value" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="routeToAppletItems" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="routeToAppletItem" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="applet" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="alerts" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="alert" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="sender" use="optional"/>
                              <xs:attribute type="xs:string" name="template" use="optional"/>
                              <xs:attribute type="xs:string" name="recipientPolicy" use="optional"/>
                              <xs:attribute type="xs:string" name="recipientNameRule" use="optional"/>
                              <xs:attribute type="xs:string" name="recipientContactRule" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="filters" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="filter" type="filter" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="valuesset" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="values" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="setValues" type="setvalues" maxOccurs="1" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="valueGenerator" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute type="applettype" name="type" use="required"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="required"/>
                  <xs:attribute type="xs:string" name="entity" use="optional"/>
                  <xs:attribute type="xs:string" name="icon" use="optional"/>
                  <xs:attribute type="xs:string" name="path" use="optional"/>
                  <xs:attribute type="xs:string" name="titleFormat" use="optional"/>
                  <xs:attribute type="xs:integer" name="displayIndex" use="optional"/>
                  <xs:attribute type="xs:boolean" name="menuAccess" use="optional"/>
                  <xs:attribute type="xs:boolean" name="supportOpenInNewWindow" use="optional"/>
                  <xs:attribute type="xs:boolean" name="allowSecondaryTenants" use="optional"/>
                  <xs:attribute type="xs:string" name="routeToApplet" use="optional"/>
                  <xs:attribute type="xs:string" name="baseField" use="optional"/>
                  <xs:attribute type="xs:string" name="assignField" use="optional"/>
                  <xs:attribute type="xs:string" name="assignDescField" use="optional"/>
                  <xs:attribute type="xs:string" name="pseudoDeleteField" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Widget Types -->
        <xs:element name="widgetTypes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="widgetType" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="datatype" name="dataType" use="required"/>
                  <xs:attribute type="inputtype" name="inputType" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="editor" use="required"/>
                  <xs:attribute type="xs:string" name="renderer" use="optional"/>
                  <xs:attribute type="xs:boolean" name="stretch" use="optional"/>
                  <xs:attribute type="xs:boolean" name="listOption" use="optional"/>
                  <xs:attribute type="xs:boolean" name="enumOption" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- References -->
        <xs:element name="references" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reference" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="filter" type="filter" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="entity" use="required"/>
                  <xs:attribute type="xs:string" name="searchField" use="optional"/>
                  <xs:attribute type="xs:string" name="orderField" use="optional"/>
                  <xs:attribute type="xs:string" name="searchTable" use="optional"/>
                  <xs:attribute type="xs:string" name="selectHandler" use="optional"/>
                  <xs:attribute type="xs:string" name="listFormat" use="optional"/>
                  <xs:attribute type="xs:string" name="filterGenerator" use="optional"/>
                  <xs:attribute type="xs:string" name="filterGeneratorRule" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Entities -->
        <xs:element name="entities" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entity" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:all>
                    <xs:element name="fields" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="fielddatatype" name="type" use="required"/>
                                  <xs:attribute name="case" use="optional">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="LOWER"/>
                                        <xs:enumeration value="UPPER"/>
                                        <xs:enumeration value="CAMEL"/>
                                        <xs:enumeration value="CAPITAL"/>
                                        <xs:enumeration value="PATH"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute type="xs:string" name="name" use="required"/>
                                  <xs:attribute type="xs:string" name="label" use="required"/>
                                  <xs:attribute type="xs:string" name="inputLabel" use="optional"/>
                                  <xs:attribute type="xs:string" name="inputWidget" use="optional"/>
                                  <xs:attribute type="xs:string" name="inputListKey" use="optional"/>
                                  <xs:attribute type="xs:string" name="suggestionType" use="optional"/>
                                  <xs:attribute type="xs:string" name="lingualWidget" use="optional"/>
                                  <xs:attribute type="xs:string" name="lingualListKey" use="optional"/>
                                  <xs:attribute type="xs:string" name="autoFormat" use="optional"/>
                                  <xs:attribute type="xs:string" name="defaultVal" use="optional"/>
                                  <xs:attribute type="xs:string" name="category" use="optional"/>
                                  <xs:attribute type="xs:integer" name="maxLen" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="trim" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="allowNegative" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="readOnly" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="nullable" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="auditable" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="reportable" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="descriptive" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="basicSearch" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="branchScoping" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="maintainLink" use="optional"/>
                                  <xs:attribute type="xs:string" name="column" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="maintainAction" use="optional"/>
                                  <xs:attribute type="xs:string" name="references" use="optional"/>
                                  <xs:attribute type="xs:integer" name="minLen" use="optional"/>
                                  <xs:attribute type="xs:integer" name="columns" use="optional"/>
                                  <xs:attribute type="xs:integer" name="rows" use="optional"/>
                                  <xs:attribute type="xs:integer" name="precision" use="optional"/>
                                  <xs:attribute type="xs:integer" name="scale" use="optional"/>
                                  <xs:attribute type="xs:string" name="key" use="optional"/>
                                  <xs:attribute type="xs:string" name="property" use="optional"/>
                                  <xs:attribute type="xs:string" name="mapped" use="optional"/>
                                  <xs:attribute type="xs:string" name="jsonName" use="optional"/>
                                  <xs:attribute type="xs:string" name="jsonFormatter" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="expressions" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="expression" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="expression" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="searchInputs" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="searchInput" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="input" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute type="searchcondtype" name="type" use="required"/>
                                    <xs:attribute type="xs:string" name="field" use="required"/>
                                    <xs:attribute type="xs:string" name="widget" use="required"/>
                                    <xs:attribute type="xs:string" name="label" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="restrictionResolver" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="seriesset" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="series" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="type" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="COUNT"/>
                                    <xs:enumeration value="SUM"/>
                                    <xs:enumeration value="AVERAGE"/>
                                    <xs:enumeration value="MINIMUM"/>
                                    <xs:enumeration value="MAXIMUM"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="required"/>
                              <xs:attribute type="xs:string" name="fieldName" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="categories" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="category" type="filter" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="uniqueConstraints" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="uniqueConstraint" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="condition" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute type="xs:string" name="field" use="required"/>
                                    <xs:attribute type="xs:string" name="value" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="fieldList" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="attachments" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attachment" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="type" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="AUDIO"/>
                                    <xs:enumeration value="CSV"/>
                                    <xs:enumeration value="EXCEL"/>
                                    <xs:enumeration value="IMAGE"/>
                                    <xs:enumeration value="IMAGE_PNG"/>
                                    <xs:enumeration value="IMAGE_JPG"/>
                                    <xs:enumeration value="IMAGE_GIF"/>
                                    <xs:enumeration value="IMAGE_BMP"/>
                                    <xs:enumeration value="PDF"/>
                                    <xs:enumeration value="XML"/>
                                    <xs:enumeration value="TEXT"/>
                                    <xs:enumeration value="VIDEO"/>
                                    <xs:enumeration value="WILDCARD"/>
                                    <xs:enumeration value="WORD"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="indexes" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="index" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="fieldList" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="uploads" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="upload" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="fieldsequence" name="fieldSequence" maxOccurs="1" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute name="onConstraint" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="UPDATE"/>
                                    <xs:enumeration value="SKIP"/>
                                    <xs:enumeration value="FAIL"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute type="entitybasetype" name="baseType" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="required"/>
                  <xs:attribute type="xs:string" name="type" use="required"/>
                  <xs:attribute type="xs:string" name="emailProducerConsumer" use="optional"/>
                  <xs:attribute type="xs:string" name="delegate" use="optional"/>
                  <xs:attribute type="xs:string" name="table" use="optional"/>
                  <xs:attribute type="xs:string" name="dataSourceName" use="optional"/>
                  <xs:attribute type="xs:string" name="dateFormatter" use="optional"/>
                  <xs:attribute type="xs:string" name="dateTimeFormatter" use="optional"/>
                  <xs:attribute type="xs:boolean" name="mapped" use="optional"/>
                  <xs:attribute type="xs:boolean" name="auditable" use="optional"/>
                  <xs:attribute type="xs:boolean" name="auditable" use="optional"/>
                  <xs:attribute type="xs:boolean" name="reportable" use="optional"/>
                  <xs:attribute type="xs:boolean" name="actionPolicy" use="optional"/>
                  <xs:attribute type="xs:boolean" name="changeEvents" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Tables -->
        <xs:element name="tables" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="table" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="columns" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="column" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="field" use="required"/>
                                  <xs:attribute type="xs:string" name="label" use="optional"/>
                                  <xs:attribute type="xs:string" name="renderWidget" use="optional"/>
                                  <xs:attribute type="xs:string" name="linkAct" use="optional"/>
                                  <xs:attribute type="xs:integer" name="widthRatio" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="switchOnChange" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="hiddenOnNull" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="disabled" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="editable" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="sortable" use="optional"/>
                                  <xs:attribute type="xs:boolean" name="summary" use="optional"/>
                                  <xs:attribute type="xs:string" name="symbol" use="optional"/>
                                  <xs:attribute type="xs:string" name="order" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="loadings" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="loading" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="provider" use="required"/>
                              <xs:attribute type="xs:integer" name="orderIndex" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="actions" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="action" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="policy" use="required"/>
                              <xs:attribute type="xs:integer" name="orderIndex" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="quickFilters" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="filter" name="quickFilter" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="filters" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="colorfilter" name="filter" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="required"/>
                  <xs:attribute type="xs:string" name="entity" use="required"/>
                  <xs:attribute type="xs:string" name="detailsPanel" use="optional"/>
                  <xs:attribute type="xs:string" name="loadingSearchInput" use="optional"/>
                  <xs:attribute type="xs:string" name="loadingFilterGen" use="optional"/>
                  <xs:attribute type="xs:integer" name="sortHistory" use="optional"/>
                  <xs:attribute type="xs:integer" name="itemsPerPage" use="optional"/>
                  <xs:attribute type="xs:integer" name="summaryTitleColumns" use="optional"/>
                  <xs:attribute type="xs:boolean" name="serialNo" use="optional"/>
                  <xs:attribute type="xs:boolean" name="sortable" use="optional"/>
                  <xs:attribute type="xs:boolean" name="showLabelHeader" use="optional"/>
                  <xs:attribute type="xs:boolean" name="headerToUpperCase" use="optional"/>
                  <xs:attribute type="xs:boolean" name="headerCenterAlign" use="optional"/>
                  <xs:attribute type="xs:boolean" name="basicSearch" use="optional"/>
                  <xs:attribute type="xs:boolean" name="totalSummary" use="optional"/>
                  <xs:attribute type="xs:boolean" name="headerless" use="optional"/>
                  <xs:attribute type="xs:boolean" name="multiSelect" use="optional"/>
                  <xs:attribute type="xs:boolean" name="nonConforming" use="optional"/>
                  <xs:attribute type="xs:boolean" name="fixedRows" use="optional"/>
                  <xs:attribute type="xs:boolean" name="limitSelectToColumns" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Workflow Channels -->
        <xs:element name="workflow-channels" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workflow-channel" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="required"/>
                  <xs:attribute type="xs:string" name="entity" use="required"/>
                  <xs:attribute type="xs:string" name="destination" use="required"/>
                  <xs:attribute type="xs:string" name="rule" use="optional"/>
                  <xs:attribute name="direction" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="INWARD"/>
                        <xs:enumeration value="OUTWARD"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Forms -->
        <xs:element name="forms" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="form" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="annotations" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="annotation" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="filter" name="onCondition" maxOccurs="1" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute name="type" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="INFO"/>
                                    <xs:enumeration value="WARNING"/>
                                    <xs:enumeration value="ERROR"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="visibility" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="FIXED"/>
                                    <xs:enumeration value="DISAPPEARING"/>
                                    <xs:enumeration value="CLOSABLE"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="message" use="required"/>
                              <xs:attribute type="xs:boolean" name="html" use="optional"/>
                              <xs:attribute type="xs:boolean" name="directPlacement" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="actions" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="action" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="filter" name="onCondition" maxOccurs="1" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute name="type" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="BUTTON"/>
                                    <xs:enumeration value="LINK"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="highlight" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="BLUE"/>
                                    <xs:enumeration value="GREEN"/>
                                    <xs:enumeration value="ORANGE"/>
                                    <xs:enumeration value="RED"/>
                                    <xs:enumeration value="GRAY"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="policy" use="optional"/>
                              <xs:attribute type="xs:string" name="symbol" use="optional"/>
                              <xs:attribute type="xs:string" name="styleClass" use="optional"/>
                              <xs:attribute type="xs:integer" name="orderIndex" use="optional"/>
                              <xs:attribute type="xs:boolean" name="showOnCreate" use="optional"/>
                              <xs:attribute type="xs:boolean" name="showOnMaintain" use="optional"/>
                              <xs:attribute type="xs:boolean" name="validateForm" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="tabs" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tab" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="section" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="name" use="required"/>
                                              <xs:attribute type="xs:string" name="label" use="optional"/>
                                              <xs:attribute type="xs:string" name="inputWidget" use="optional"/>
                                              <xs:attribute type="xs:string" name="reference" use="optional"/>
                                              <xs:attribute type="xs:string" name="previewForm" use="optional"/>
                                              <xs:attribute name="color" use="optional">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:enumeration value="WHITE"/>
                                                    <xs:enumeration value="RED"/>
                                                    <xs:enumeration value="ORANGE"/>
                                                    <xs:enumeration value="YELLOW"/>
                                                    <xs:enumeration value="GREEN"/>
                                                    <xs:enumeration value="CYAN"/>
                                                    <xs:enumeration value="BLUE"/>
                                                    <xs:enumeration value="PURPLE"/>
                                                    <xs:enumeration value="NAVY_GRAY"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:attribute>
                                              <xs:attribute type="xs:integer" name="column" use="required"/>
                                              <xs:attribute type="xs:boolean" name="switchOnChange" use="optional"/>
                                              <xs:attribute type="xs:boolean" name="saveAs" use="optional"/>
                                              <xs:attribute type="xs:boolean" name="required" use="optional"/>
                                              <xs:attribute type="xs:boolean" name="visible" use="optional"/>
                                              <xs:attribute type="xs:boolean" name="editable" use="optional"/>
                                              <xs:attribute type="xs:boolean" name="disabled" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                    <xs:attribute type="xs:string" name="label" use="optional"/>
                                    <xs:attribute type="xs:string" name="panel" use="optional"/>
                                    <xs:attribute type="xs:string" name="icon" use="optional"/>
                                    <xs:attribute name="columns" use="required">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:enumeration value="TYPE_1"/>
                                          <xs:enumeration value="TYPE_2"/>
                                          <xs:enumeration value="TYPE_1_2"/>
                                          <xs:enumeration value="TYPE_2_1"/>
                                          <xs:enumeration value="TYPE_3"/>
                                          <xs:enumeration value="TYPE_4"/>
                                          <xs:enumeration value="TYPE_5"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute type="xs:boolean" name="visible" use="optional"/>
                                    <xs:attribute type="xs:boolean" name="editable" use="optional"/>
                                    <xs:attribute type="xs:boolean" name="disabled" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="contentType" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="MINIFORM"/>
                                    <xs:enumeration value="MINIFORM_CHANGELOG"/>
                                    <xs:enumeration value="MINIFORM_MAPPED"/>
                                    <xs:enumeration value="CHILD"/>
                                    <xs:enumeration value="CHILD_LIST"/>
                                    <xs:enumeration value="FILTER_CONDITION"/>
                                    <xs:enumeration value="FIELD_SEQUENCE"/>
                                    <xs:enumeration value="PROPERTY_SEQUENCE"/>
                                    <xs:enumeration value="PARAM_VALUES"/>
                                    <xs:enumeration value="PROPERTY_LIST"/>
                                    <xs:enumeration value="USAGE_LIST"/>
                                    <xs:enumeration value="SEARCH_INPUT"/>
                                    <xs:enumeration value="SET_VALUES"/>
                                    <xs:enumeration value="WIDGET_RULES"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="applet" use="optional"/>
                              <xs:attribute type="xs:string" name="mappedFieldName" use="optional"/>
                              <xs:attribute type="xs:string" name="mappedForm" use="optional"/>
                              <xs:attribute type="xs:string" name="reference" use="optional"/>
                              <xs:attribute type="xs:string" name="filter" use="optional"/>
                              <xs:attribute type="xs:string" name="editAction" use="optional"/>
                              <xs:attribute type="xs:string" name="editFormless" use="optional"/>
                              <xs:attribute type="xs:string" name="editFixedRows" use="optional"/>
                              <xs:attribute type="xs:string" name="editAllowAddition" use="optional"/>
                              <xs:attribute type="xs:boolean" name="ignoreParentCondition" use="optional"/>
                              <xs:attribute type="xs:boolean" name="includeSysParam" use="optional"/>
                              <xs:attribute type="xs:boolean" name="showSearch" use="optional"/>
                              <xs:attribute type="xs:boolean" name="quickEdit" use="optional"/>
                              <xs:attribute type="xs:boolean" name="quickOrder" use="optional"/>
                              <xs:attribute type="xs:boolean" name="visible" use="optional"/>
                              <xs:attribute type="xs:boolean" name="editable" use="optional"/>
                              <xs:attribute type="xs:boolean" name="disabled" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="filters" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="filter" name="filter" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="relatedLists" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="relatedList" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="applet" use="optional"/>
                              <xs:attribute type="xs:string" name="filter" use="optional"/>
                              <xs:attribute type="xs:string" name="editAction" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="formStatePolicies" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="formStatePolicy" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element type="filter" name="onCondition" minOccurs="0"/>
                                <xs:element type="setvalues" name="setValues" minOccurs="0"/>
                                <xs:element name="setStates" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="setState" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="type" use="required">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                    <xs:enumeration value="ANNOTATION"/>
                                                    <xs:enumeration value="TAB"/>
                                                    <xs:enumeration value="SECTION"/>
                                                    <xs:enumeration value="FIELD"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                              </xs:attribute>
                                              <xs:attribute type="xs:string" name="target" use="required"/>
                                              <xs:attribute type="tristate" name="required" use="optional"/>
                                              <xs:attribute type="tristate" name="visible" use="optional"/>
                                              <xs:attribute type="tristate" name="editable" use="optional"/>
                                              <xs:attribute type="tristate" name="disabled" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute name="type" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="ON_CREATE"/>
                                    <xs:enumeration value="ON_SWITCH"/>
                                    <xs:enumeration value="ON_FORM_CONSTRUCT_SET_VALUES"/>
                                    <xs:enumeration value="ON_DELAYED_SET_VALUES"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="valueGenerator" use="optional"/>
                              <xs:attribute type="xs:string" name="trigger" use="optional"/>
                              <xs:attribute type="xs:integer" name="executionIndex" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="formWidgetRulesPolicies" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="formWidgetRulesPolicy" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="filter" name="onCondition" maxOccurs="1" minOccurs="0"/>
                                <xs:element name="widgetRules" maxOccurs="1" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:attribute type="xs:string" name="field" use="required"/>
                                          <xs:attribute type="xs:string" name="widget" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:integer" name="executionIndex" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fieldValidationPolicies" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="fieldValidationPolicy" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="fieldName" use="required"/>
                              <xs:attribute type="xs:string" name="validator" use="required"/>
                              <xs:attribute type="xs:string" name="rule" use="optional"/>
                              <xs:attribute type="xs:integer" name="executionIndex" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="formValidationPolicies" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="formValidationPolicy" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="filter" name="errorCondition" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="message" use="optional"/>
                              <xs:attribute type="xs:string" name="target" use="optional"/>
                              <xs:attribute type="xs:string" name="errorMatcher" use="optional"/>
                              <xs:attribute type="xs:boolean" name="skippable" use="optional"/>
                              <xs:attribute type="xs:integer" name="executionIndex" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="formReviewPolicies" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="formReviewPolicy" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="filter" name="errorCondition" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                              <xs:attribute type="xs:string" name="message" use="optional"/>
                              <xs:attribute type="xs:string" name="target" use="optional"/>
                              <xs:attribute type="xs:string" name="errorMatcher" use="optional"/>
                              <xs:attribute type="xs:boolean" name="skippable" use="optional"/>
                              <xs:attribute type="xs:integer" name="executionIndex" use="optional"/>
                              <xs:attribute type="xs:string" name="events" use="optional"/>
                              <xs:attribute name="messageType" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="INFO"/>
                                    <xs:enumeration value="WARNING"/>
                                    <xs:enumeration value="ERROR"/>
                                    <xs:enumeration value="PASS"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="type" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="INPUT"/>
                        <xs:enumeration value="LISTING"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="optional"/>
                  <xs:attribute type="xs:string" name="entity" use="required"/>
                  <xs:attribute type="xs:string" name="helpSheet" use="optional"/>
                  <xs:attribute type="xs:string" name="titleFormat" use="optional"/>
                  <xs:attribute type="xs:string" name="listingGenerator" use="optional"/>
                  <xs:attribute type="xs:string" name="consolidatedValidation" use="optional"/>
                  <xs:attribute type="xs:string" name="consolidatedReview" use="optional"/>
                  <xs:attribute type="xs:string" name="consolidatedState" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Charts -->
        <xs:element name="charts" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="chart" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="CARD"/>
                        <xs:enumeration value="TABLE"/>
                        <xs:enumeration value="LINE"/>
                        <xs:enumeration value="AREA"/>
                        <xs:enumeration value="COLUMN"/>
                        <xs:enumeration value="BAR"/>
                        <xs:enumeration value="RADAR"/>
                        <xs:enumeration value="PIE"/>
                        <xs:enumeration value="DONUT"/>
                        <xs:enumeration value="POLAR_AREA"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="palette" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="PALETTE0"/>
                        <xs:enumeration value="PALETTE1"/>
                        <xs:enumeration value="PALETTE2"/>
                        <xs:enumeration value="PALETTE3"/>
                        <xs:enumeration value="PALETTE4"/>
                        <xs:enumeration value="PALETTE5"/>
                        <xs:enumeration value="PALETTE6"/>
                        <xs:enumeration value="PALETTE7"/>
                        <xs:enumeration value="PALETTE8"/>
                        <xs:enumeration value="PALETTE9"/>
                        <xs:enumeration value="PALETTE10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="optional"/>
                  <xs:attribute type="xs:string" name="title" use="optional"/>
                  <xs:attribute type="xs:string" name="subTitle" use="optional"/>
                  <xs:attribute type="xs:string" name="provider" use="optional"/>
                  <xs:attribute type="xs:integer" name="width" use="optional"/>
                  <xs:attribute type="xs:integer" name="height" use="optional"/>
                  <xs:attribute type="xs:boolean" name="stacked" use="optional"/>
                  <xs:attribute type="xs:boolean" name="showGrid" use="optional"/>
                  <xs:attribute type="xs:boolean" name="showDataLabels" use="optional"/>
                  <xs:attribute type="xs:boolean" name="formatDataLabels" use="optional"/>
                  <xs:attribute type="xs:boolean" name="formatYLabels" use="optional"/>
                  <xs:attribute type="xs:boolean" name="smooth" use="optional"/>
                  <xs:attribute type="xs:string" name="category" use="optional"/>
                  <xs:attribute type="xs:string" name="series" use="optional"/>
                  <xs:attribute type="xs:string" name="color" use="optional"/>
                  <xs:attribute type="xs:string" name="rule" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Chart Datasources -->
        <xs:element name="chart-datasources" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="chart-datasource" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="entity" minOccurs="0"/>
                    <xs:element type="filter" name="category-base" minOccurs="0"/>
                    <xs:element type="propertysequence" name="series" minOccurs="0"/>
                    <xs:element type="propertysequence" name="categories" minOccurs="0"/>
                    <xs:element type="fieldsequence" name="fieldSequence" minOccurs="0"/>
                  </xs:all>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="ENTITY"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="timeseries" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="HOUR"/>
                        <xs:enumeration value="HOUR_OVER_DAY"/>
                        <xs:enumeration value="HOUR_OVER_DAY_MERGED"/>
                        <xs:enumeration value="DAY"/>
                        <xs:enumeration value="DAY_OVER_WEEK"/>
                        <xs:enumeration value="DAY_OVER_MONTH"/>
                        <xs:enumeration value="DAY_OVER_YEAR"/>
                        <xs:enumeration value="DAY_OVER_WEEK_MERGED"/>
                        <xs:enumeration value="DAY_OVER_MONTH_MERGED"/>
                        <xs:enumeration value="DAY_OVER_YEAR_MERGED"/>
                        <xs:enumeration value="WEEK"/>
                        <xs:enumeration value="WEEK_MERGED"/>
                        <xs:enumeration value="MONTH"/>
                        <xs:enumeration value="MONTH_MERGED"/>
                        <xs:enumeration value="YEAR"/>
                        <xs:enumeration value="YEAR_MERGED"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="optional"/>
                  <xs:attribute type="xs:integer" name="limit" use="optional"/>
                  <xs:attribute type="xs:string" name="preferred-category-field" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Dashboards -->
        <xs:element name="dashboards" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dashboard" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="dashboard-sections" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dashboard-section" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="type" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="TYPE_1"/>
                                    <xs:enumeration value="TYPE_1_1"/>
                                    <xs:enumeration value="TYPE_1_2"/>
                                    <xs:enumeration value="TYPE_2_1"/>
                                    <xs:enumeration value="TYPE_1_1_1"/>
                                    <xs:enumeration value="TYPE_1_3"/>
                                    <xs:enumeration value="TYPE_1_1_2"/>
                                    <xs:enumeration value="TYPE_1_2_1"/>
                                    <xs:enumeration value="TYPE_2_1_1"/>
                                    <xs:enumeration value="TYPE_3_1"/>
                                    <xs:enumeration value="TYPE_1_1_1_1"/>
                                    <xs:enumeration value="TYPE_1_1_1_1_1"/>
                                    <xs:enumeration value="TYPE_1_1_1_1_1_1"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:integer" name="index" use="required"/>
                              <xs:attribute type="xs:integer" name="height" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dashboard-tiles" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dashboard-tile" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="type" use="required">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="SIMPLE"/>
                                        <xs:enumeration value="SPARKLINE"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute type="xs:string" name="name" use="required"/>
                                  <xs:attribute type="xs:string" name="description" use="required"/>
                                  <xs:attribute type="xs:string" name="label" use="optional"/>
                                  <xs:attribute type="xs:string" name="chart" use="required"/>
                                  <xs:attribute type="xs:integer" name="section" use="required"/>
                                  <xs:attribute type="xs:integer" name="index" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dashboard-options" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dashboard-option" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="category-base">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="filter" name="base-condition"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="chartDataSource" use="required"/>
                                    <xs:attribute type="xs:string" name="entity" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="required"/>
                              <xs:attribute type="xs:string" name="description" use="required"/>
                              <xs:attribute type="xs:string" name="label" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                  <xs:attribute type="xs:string" name="description" use="required"/>
                  <xs:attribute type="xs:string" name="label" use="optional"/>
                  <xs:attribute type="xs:boolean" name="allowSecondaryTenants" use="optional"/>
                  <xs:attribute type="xs:integer" name="sections" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <!-- Property Lists-->
		<xs:element name="propertyLists" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="propertyList" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="propertySet" maxOccurs="unbounded" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="property" maxOccurs="unbounded" minOccurs="0">
												<xs:complexType>
													<xs:attribute type="xs:string" name="name" use="required"/>
													<xs:attribute type="xs:string" name="description" use="required"/>
													<xs:attribute type="xs:string" name="inputWidget" use="required"/>
													<xs:attribute type="xs:string" name="references" use="optional"/>
													<xs:attribute type="xs:string" name="defaultVal" use="optional"/>
													<xs:attribute type="xs:boolean" name="required" use="optional"/>
													<xs:attribute type="xs:boolean" name="mask" use="optional"/>
													<xs:attribute type="xs:boolean" name="encrypt" use="optional"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute type="xs:string" name="label" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute type="xs:string" name="name" use="required"/>
							<xs:attribute type="xs:string" name="description" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<!-- Property Rules -->
		<xs:element name="propertyRules" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="propertyRule" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="choice" maxOccurs="unbounded" minOccurs="0">
									<xs:complexType>
										<xs:attribute type="xs:string" name="name" use="required"/>
										<xs:attribute type="xs:string" name="val" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute type="xs:string" name="name" use="required"/>
							<xs:attribute type="xs:string" name="description" use="required"/>
							<xs:attribute type="xs:string" name="entity" use="required"/>
							<xs:attribute type="xs:string" name="choiceField" use="required"/>
							<xs:attribute type="xs:string" name="listField" use="required"/>
							<xs:attribute type="xs:string" name="propNameField" use="required"/>
							<xs:attribute type="xs:string" name="propValField" use="required"/>
							<xs:attribute type="xs:boolean" name="ignoreCase" use="optional"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<!-- Assignment Page -->
		<xs:element name="assignmentPages" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="assignmentPage" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:attribute type="xs:string" name="name" use="required"/>
							<xs:attribute type="xs:string" name="description" use="required"/>
							<xs:attribute type="xs:string" name="label" use="required"/>
							<xs:attribute type="xs:string" name="entity" use="required"/>
							<xs:attribute type="xs:string" name="baseField" use="required"/>
							<xs:attribute type="xs:string" name="assignField" use="required"/>
							<xs:attribute type="xs:string" name="assignCaption" use="required"/>
							<xs:attribute type="xs:string" name="unassignCaption" use="required"/>
							<xs:attribute type="xs:string" name="assignList" use="required"/>
							<xs:attribute type="xs:string" name="unassignList" use="required"/>
							<xs:attribute type="xs:string" name="commitPolicy" use="optional"/>
							<xs:attribute type="xs:string" name="filterCaption1" use="optional"/>
							<xs:attribute type="xs:string" name="filterCaption2" use="optional"/>
							<xs:attribute type="xs:string" name="filterList1" use="optional"/>
							<xs:attribute type="xs:string" name="filterList2" use="optional"/>
							<xs:attribute type="xs:string" name="ruleDescField" use="optional"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<!-- APIs -->
		<xs:element name="apis" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="api" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:attribute name="type" use="required">
	                            <xs:simpleType>
	                              <xs:restriction base="xs:string">
	                                <xs:enumeration value="REST_CRUD"/>
	                              </xs:restriction>
	                            </xs:simpleType>
	                          </xs:attribute>
							<xs:attribute type="xs:string" name="name" use="required"/>
							<xs:attribute type="xs:string" name="description" use="required"/>
							<xs:attribute type="xs:string" name="label" use="optional"/>
							<xs:attribute type="xs:string" name="entity" use="required"/>
							<xs:attribute type="xs:string" name="applet" use="required"/>
							<xs:attribute type="xs:boolean" name="supportCreate" use="optional"/>
							<xs:attribute type="xs:boolean" name="supportRead" use="optional"/>
							<xs:attribute type="xs:boolean" name="supportUpdate" use="optional"/>
							<xs:attribute type="xs:boolean" name="supportDelete" use="optional"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<!-- Enumerations -->
		<xs:element name="enumerations" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="enumeration" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
									<xs:complexType>
										<xs:attribute type="xs:string" name="code" use="required"/>
										<xs:attribute type="xs:string" name="label" use="required"/>
										<xs:attribute type="xs:integer" name="displayIndex" use="optional"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute type="xs:string" name="name" use="required"/>
							<xs:attribute type="xs:string" name="description" use="required"/>
							<xs:attribute type="xs:string" name="label" use="optional"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<!-- Suggestion Types -->
		<xs:element name="suggestionTypes" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="suggestionType" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:attribute type="xs:string" name="name" use="required"/>
							<xs:attribute type="xs:string" name="description" use="required"/>
							<xs:attribute type="xs:string" name="label" use="optional"/>
							<xs:attribute type="xs:string" name="parent" use="optional"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
      </xs:all>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:string" name="description" use="required"/>
      <xs:attribute type="xs:string" name="label" use="required"/>
      <xs:attribute type="xs:string" name="module" use="required"/>
      <xs:attribute type="xs:integer" name="displayIndex" use="optional"/>
      <xs:attribute type="xs:boolean" name="developable" use="optional"/>
      <xs:attribute type="xs:boolean" name="menuAccess" use="optional"/>
      <xs:attribute type="xs:boolean" name="allowSecondaryTenants" use="optional"/>
      <xs:attribute type="xs:boolean" name="custom" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

